body {
    background-image: url('https://i.postimg.cc/bNMZsqQk/success-key-career-ladder-of-success.jpg'); /* Replace with your image URL */
    background-size: cover;
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(5px);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
   
    
   
   
  }
  
  .container {
    padding-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 250px;
    border: solid;
    border-radius: 10px;
    border-color: aliceblue;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    
    
  }
  
  /* Rest of your CSS styles */
  